**/Debug/*.tlog
**/Debug
**/CMakeFiles
**/CMakeCache.txt
*.vcxproj.filters
*.vcxproj
*.vcxproj.user
*.pdb
/*.ilk
/.vs/skalang/v15
*.vcxproj
*.filters
*.sln
*.cmake
*/bin
*/lib
*.depend
*.layout
*.cbp
*.a
*.lib
*.exe
**/Makefile
Makefile
.vs
*/.vs